apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-atpgfbqw
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-atpgfbqw:094ae8dac3740feee0f1ac47d81007b796e9dc38@sha256:4032e1d163202768647fafb24b04572dbfb8f5cae86454283a0d1078ddb6c020
          name: container-image
